@use '../assets/variablesSCSS.scss' as *;


.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   background-color: var(--color-black);


   font-family: var(--font-family-second);
   padding: 28px 0;

   @media (min-width:1024px) {
      position: static;
      background-color: transparent;
      padding: 58px 0;
   }

   &__container {}

   &__nav {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 59px;

      @media (min-width:1024px) {
         justify-content: center;

      }
   }

   &__flank {
      display: none;

      @media (min-width:1024px) {
         display: block;
      }

      ol {
         display: flex;
         align-items: center;
         gap: 59px;

         li {
            list-style: none;
         }
      }
   }

   &__logo {
      height: 50px;
      width: 50px;

      @media (min-width:1024px) {
         height: 100px;
         width: 100px;
      }

      img,
      svg {
         height: 50px;
         width: 50px;
         position: absolute;
         z-index: 2;
         top: 0;
         left: 50%;
         transform: translate(-50%, 20vh);
         animation: logo-mobile 2s 2s forwards;

         @media (min-width:1024px) {
            position: static;
            transform: translateY(20vh);
            height: 100px;
            width: 100px;
            animation: logo 2s 2s forwards;
         }
      }
   }

   &__logo-around {
      transform-origin: 50% 50%;

      transform: rotate(180deg);
      animation: around 1s 1s forwards;

      @media (min-width:1024px) {}
   }

   &__button-menu {
      opacity: 0;
      animation: button-menu 1s 3s forwards;

      @media (min-width:1024px) {
         display: none;
      }
   }

   &__telegram {
      min-width: 29px;
   }
}

@keyframes button-menu {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes logo {
   0% {
      transform: translateY(20vh);
   }

   100% {
      transform: translateY(0);
   }
}

@keyframes logo-mobile {
   0% {
      left: 50%;
      transform: translate(-50%, 20vh);
   }

   100% {
      left: 0%;
      transform: translate(0%, 0vh);
   }
}

@keyframes around {
   0% {
      transform: rotate(180deg);
   }

   100% {
      transform: rotate(0);
   }
}