@use './mixin.scss' as *;
@use './variablesSCSS.scss' as *;


:root {
   --font-family: "Georgia", sans-serif;
   --font-family-second: "Taler", sans-serif;

   --color-white: #ffffff;
   --color-black: #090909;
   --color-black-09: rgba(9, 9, 9, 0.9);
   --color-orange: #ffbf48;
   --color-modal-bg: rgba(0, 0, 0, 0.6);

   --vh: 100vh;

   --offset-content: #{$padding-desktop};

   @media (min-width:$max-width-content) {
      --offset-content: #{$max-padding-content};
   }

   @include size_adaptive (--offset-content, 32, $max-padding-content, $max-width-container, $max-width-content);

   @supports (height: 100dvh) {
      --vh: 100dvh;
   }

}